/* ALL */
* {
    /* display: none; */
    font-family: raleway;
    margin: 0;
}

ul {
    list-style: none;
    ;
}

button {
    cursor: pointer;
    border: none;
    margin-top: 30px;
    width: 230px;
    height: 56px;
    border-radius: 0px 20px 0px 20px;
    font-size: 16px;
    color: rgba(253, 253, 253, 1);

    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

button a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    padding-right: 12px;
}

.btn-orange {
    background: rgba(250, 159, 66, 1);
}

.btn-orange:hover {
    border: solid white;
    background: rgba(16, 181, 130, 1);
}

.btn-green {
    background: rgba(16, 181, 130, 1);
}

.btn-green:hover {
    background: rgba(250, 159, 66, 1);
}

.last-button {
    background: rgba(250, 159, 66, 1);
}

.last-button:hover {
    background: rgba(16, 181, 130, 1);
}


/*^ ALL */

/* BLOCK-4 */
.block-4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.block-4-container h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
}


/* WRAP-1 */
.wrap-4-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.wrap-4-1 picture p {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.wrap-4-1 picture h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}



/*^ WRAP-1 */
/*^ BLOCK-4 */