/* ALL */
* {
    /* display: none; */
    font-family: raleway;
    margin: 0;
}

ul {
    list-style: none;
}

div button {
    cursor: pointer;
    border: none;
    margin-top: 30px;
    width: 230px;
    height: 56px;
    border-radius: 0px 20px 0px 20px;
    font-size: 16px;
    color: rgba(253, 253, 253, 1);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

button a {
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    padding-right: 12px;
}

.btn-orange {
    background: rgba(250, 159, 66, 1);
}

.btn-orange:hover {
    border: solid white;
    background: rgba(16, 181, 130, 1);
}

.btn-green {
    background: rgba(16, 181, 130, 1);
}

.btn-green:hover {
    background: rgba(250, 159, 66, 1);
}

.last-button {
    background: rgba(250, 159, 66, 1);
}

.last-button:hover {
    background: rgba(16, 181, 130, 1);
}

/*  MENU */
menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 7%;
    align-items: center;
    justify-content: center;
    background: rgba(16, 181, 130, 1);
    z-index: 1;
    left: 0;
    right: 0;
}


.logo-m {
    color: rgba(253, 253, 253, 1);
    position: fixed;
    top: 15px;
    left: 8%;
    z-index: 2;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-m img {
    padding-right: 9px;
}

.logo-m span {
    display: block;
}


.ul-header li div {
    position: absolute;
    top: 25px;
    left: 0;
}

.menu-container {
    height: 60px;
}


.ul-header {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 7%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    gap: 3%;
    list-style: none;
}

.a-header {
    /* color: black; */
    color: rgba(253, 253, 253, 1);
    text-decoration: none;
}

.a-header:hover {
    color: rgb(207, 207, 207);
    text-decoration: underline dashed 2px rgba(250, 159, 66, 1);
    text-underline-offset: 8px;
    line-height: 1.2
}

/*^  MENU */

/*  NAV */
nav {
    padding-left: 7%;
    padding-right: 7%;
}

nav ul {
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:last-child {
    opacity: 50%;
}


.ul-header {
    display: flex;
}

.hamburger-menu {
    display: none;
}

/* BURGER-MENU */
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 35px;
    right: 7%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(16, 181, 130, 1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}


/*^ BURGER-MENU */


/*^  NAV */

/*^ ALL */
/* BLOCK-3 */
.block-3-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: 602px; */
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(16, 181, 130, 1);
}

/* WRAP-1 */
.wrap-3-1 {
    overflow: hidden;
    width: 450px;
    height: 380px;
    position: relative;
}

.wrap-3-1 img {
    z-index: 1;
    position: relative;
    /* bottom: 0; */
}

.img-border {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px 0px 0px 0px;
    border: solid 2px rgba(253, 253, 253, 1);
    border-style: dashed;
}

/*^ WRAP-1 */
/* WRAP-2 */
.wrap-3-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrap-3-2 h1 {
    width: 500px;
    height: 140px;
    font-size: 58px;
    font-weight: 500;
    line-height: 69.6px;
    text-align: left;
    color: rgba(253, 253, 253, 1);

}

.wrap-3-2 p {
    width: 478px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
}

#btn-3 {
    margin-top: 30px;
}

/*^ WRAP-2 */

/*^ BLOCK-3 */


/* BLOCK-4 */
.block-4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 120px;
    margin-bottom: 120px;
}

.block-4-container h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
}


/* WRAP-1 */
.wrap-4-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;

}

.wrap-4-1 picture a {
    color: rgba(53, 58, 90, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    text-align: left;
}

.wrap-4-1 picture a:hover {
    scale: 1.1;
    transition: 250ms;
}


.wrap-4-1 picture a:last-child {
    color: rgba(53, 58, 90, 1);
}


.wrap-4-1 picture a h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.wrap-4-1 picture a:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}



/*^ WRAP-1 */
/*^ BLOCK-4 */

/* BLOCK-5 */
.block-5-container {
    display: flex;
    margin-bottom: 120px;
    align-items: center;
    justify-content: end;
    padding-right: 10%;
    height: 578px;
    background-size: cover;
}

/* WRAP-1 */
.wrap-5-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 508px;
}

.wrap-5-1 h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 69.6px;
    text-align: left;
}


.wrap-5-1 p {
    max-width: 508px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(53, 58, 90, 1);
}

#btn-5 {
    margin-top: 30px;
}

/*^ WRAP-1*/
/*^ BLOCK-5 */

/* FOOTER*/
footer {
    border-top: 1px solid rgba(53, 58, 90, 0.2);
    border-bottom: 1px solid rgba(53, 58, 90, 0.2);
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 7%;
    padding-right: 7%;
    /* gap: 20%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.column ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.column ul li a {
    text-decoration: none;
    color: rgba(53, 58, 90, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}


.f-svg-container ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.footer-block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(53, 58, 90, 1);
}

.footer-block div {
    display: flex;
    gap: 30px;
}

/*^ FOOTER*/



/* MEDIA 728px */
@media (min-width: 768px) and (max-width: 1100px) {
    .logo {
        font-size: 30px;
        font-weight: 600;
    }

    .logo img {
        padding-right: 12px;
    }

    .right-img-container {
        display: none;
    }

    .left-img-container {
        width: 27%;
        height: 60%;
    }



    #l-border {
        width: 19vw;
        height: 24.5vw;
    }

    #spa {
        color: black;
    }

    .p-absolute {
        display: none;
    }

    .flex-container {
        gap: 1px;
    }

    .block-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        width: auto;
        height: auto;
    }

    .block-container h1 {
        font-size: 50px;
    }

    .block-container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    #btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*^ MEDIA 728px */

/* MEDIA 340px */
@media (min-width: 320px) and (max-width: 767px) {

    .block-container h1 {
        font-size: 44px;
        line-height: 50px;
    }

    div button {
        width: 35vw;
    }

    .flex-container {
        gap: 1px;
    }

    .hamburger-menu {
        display: block;
    }

    .ul-header {
        display: none;
    }

    .left-img-container {
        display: none;
    }

    .right-img-container {
        display: none;
    }

    .logo-m span {
        display: none;
    }

    .logo-m {
        position: fixed;
        top: 21px;
    }

    .svg-container {
        display: none;
    }

    .p-absolute {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
    }

    .element-block {
        gap: 1px;
    }

    .block-1-container {
        margin-top: 60px;
        gap: 50px;
    }

    .block-1-container h1 {
        font-size: 40px;
        font-weight: 500;
        line-height: 58px;
        color: rgba(16, 181, 130, 1);
    }

    .block-1-container p {
        font-size: 11px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: center;
    }

    .wrap-2-1 {
        align-items: center;
        gap: 10px;
    }

    .wrap-2-1 h1 {
        font-size: 40px;
    }

    .wrap-2-1 p {
        line-height: 22px;
    }

    #btn-2 {
        margin-top: 15px;
    }

    /* WRAP-2 */
    .wrap-2-2 {
        max-width: 590px;
        gap: 10px;
    }

    .wrap-2-2 img {
        max-width: 130px;
    }

    .wrap-2-2 div p {
        /* display: none; */
        max-width: 130px;
        font-size: 14px;
    }
}