/* ALL */
* {
    /* display: none; */
    font-family: raleway;
    margin: 0;
}

ul {
    list-style: none;
    ;
}



/*  MENU */
menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.menu-container {
    height: 120px;
}

.ul-header {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.a-header {
    /* color: black; */
    color: rgba(253, 253, 253, 1);
    text-decoration: none;
}

.a-header:hover {
    color: rgb(207, 207, 207);
    text-decoration: underline dashed 2px rgba(250, 159, 66, 1);
    text-underline-offset: 8px;
    line-height: 1.2
}

/* HEADER */
header {
    height: 800px;
    background-color: rgba(16, 181, 130, 1);
}