/* ALL */
* {
    /* display: none; */
    font-family: raleway;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    padding-right: 12px;
}

/*^ ALL */

/* HEADER */

/*^ HEADER */

/* BLOCK-1 */
.block-1-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
    gap: 40px;
}

.block-1-container h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 69.6px;
    text-align: left;
}

.block-1-container h4 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: left;

}


/* P-CONTAINER */
.p-container {
    max-width: 809px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-1-container div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

/*^ P-CONTAINER */



/* CONTAINER 1 */
.wrap-1-1 {
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    text-align: center;
}

.wrap-1-1 h1 {
    font-size: 58px;
    font-weight: 500;
    line-height: 58px;
    color: rgba(16, 181, 130, 1);
}

.wrap-1-1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
}

.element-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*^ CONTAINER 1 */
/*^ BLOCK-1 */

/* BLOCK-2 */
.block-3-container {
    flex-direction: row-reverse;
}

/* WRAP-1 */
.wrap-3-1 {
    width: 570px;
    height: 316px;
}

.wrap-3-1 img {
    right: 0;
}

.img-border {
    left: 0;
    width: 540px;
    height: 286px;
}

/*^ WRAP-1 */
/*^ BLOCK-2 */

/* BLOCK-3 */
/* WRAP-1 */
.wrap-4-1 picture img {
    margin-right: 8px;
}

.wrap-4-1 picture p {
    width: 240px;
    height: 54px;
    padding-bottom: 25px;
}

.wrap-4-1 picture a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 270px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 0px rgba(101, 101, 101, 0.2);

}

.img-border {
    border-radius: 120px 0px 0px 0px;
}


/*^ WRAP-1 */


/*^ BLOCK-3 */

/*^ BLOCK-4 */
.block-5-container {
    background-image: url("/components/img/bg3.png");
}

/* BLOCK-5 */
.block-6-container {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.block-6-container picture {
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 30px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 830px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 5px 30px 0px rgba(101, 101, 101, 0.1);
}

.block-6-container picture button {
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1%;
    width: 36px;
    height: 36px;
    border: none;
    background: none;

}

.block-6-container picture h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: left;
    width: 670px;


}

.block-6-container picture p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    width: 670px;
}

/*^ BLOCK-5 */